{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title  %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'freegram/images/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'freegram/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'freegram/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'freegram/css/fontawesome-all.css' %}">
    <script src="{% static 'freegram/js/jquery.min.js' %}"></script>
    <script src="{% static 'freegram/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
            <div class="container">
                <a class="navbar-brand align-items-center d-flex" href="{% url 'freegram:index' %}">
                    <div><img src="{% static 'freegram/images/favicon.png' %}" style="height:18px; border-right: 1px solid #333;" class="pr-3"></div>
                    <div class="pl-3 pt-2">Instaclone</div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                </div>
            </div>
        </nav>
    {% block content %}
    {% endblock %}
</body>
</html>